@import "tailwindcss";

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideDown {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100%);
  }
}

.animate-slide-up {
  animation: slideUp 0.25s ease forwards;
}

.animate-slide-down {
  animation: slideDown 0.25s ease forwards;
}

@font-face {
  font-family: "IRANSans";
  src: url("/fonts/iransans/IRANSansX-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Vazirmatn";
  src: url("/fonts/vazirmatn/Vazir-Medium.woff2") format("woff2");
}



.font-iransans {
  font-family: "IRANSans";
}

.font-vazirmatn {
  font-family: "Vazirmatn";
}

